[submodule "Aurora/vendor/spdlog"]
	path = Aurora/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Aurora/vendor/imgui"]
	path = Aurora/vendor/imgui
	url = https://github.com/yugansharora01/imgui
[submodule "Aurora/vendor/ImGuizmo"]
	path = Aurora/vendor/ImGuizmo
	url = https://github.com/yugansharora01/ImGuizmo
[submodule "Aurora\\vendor\\freetype"]
	path = Aurora\\vendor\\freetype
	url = https://github.com/yugansharora01/freetype
[submodule "Aurora/vendor/yaml--cpp"]
	path = Aurora/vendor/yaml--cpp
	url = https://github.com/yugansharora01/yaml-cpp
